.topImage {
    min-height: 20vh;
    background-color: #d3ffeb;
    width: 100%;
    position: relative;
    padding: 0px !important;
    margin-top: 55px;
    padding-top: 30px !important;
}

.bg-img-top {
    background-image: url('../assets/bg-mage.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width : 100%;
    height: 512px;
}

.ban-img {
    width : 100%;
}

.ban1-div {
    position: relative;
}

.ban1-sub-div{
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
}

.logo-size {
    /* width : 70px; */
    height: 40px;
}

.font-family-1 {
    font-family: 'Source Sans Pro', sans-serif !important;
}

.font-bold {
    font-weight: bold;
}

.font-bold-600 {
    font-weight: 600;
}

.topImage::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: inherit;
    top : 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(-4deg);
}

.bottomImage{
    height: 30vw;
    background-color: gray;
    width: 100%;
    position: relative;
    padding: 0px !important;
}

.bottomImage::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: inherit;
    top : 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(-4deg);
}


.top-main-image {
    overflow: hidden;
    position: relative;
}

.belowImage {
    /* height: auto; */
    /* min-height: 90vh; */
    /* background-color: green; */
    width: 100%;
    position: relative;
    padding: 0px !important;
    content: "";
    top : 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(-4deg);
    padding-top: 30px !important;
    /* padding-bottom: 100px !important; */
}

/* .check-mark {
    background-image: ;
} */

.cus-pad-1 {
    padding-bottom: 50px;
}

.belowImage::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: inherit;
    top : 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(0deg);
    z-index: -1;
}

/* .belowImage-test::before {
    width: 100%;
    position: relative;
    padding: 0px !important;
    content: "";
    top : 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(-4deg);
    padding-top: 30px !important;
} */
.belowImage-test {
    min-height: 10vh;
    width: 100%;
    position: relative;
    padding: 0px !important;
    margin-top: 55px;
    padding-top: 30px !important;
}

.belowImage-test::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: inherit;
    top : 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(-4deg);
    /* z-index: -1; */
}

.belowImage-footer {
    width: 100%;
    position: relative;
    padding: 0px !important;
    content: "";
    top : 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(-4deg);
    padding-top: 30px !important;
}

.belowImage-footer::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: inherit;
    top : 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(-2deg);
    /* z-index: -1; */
}
.belowImage-last {
    height: auto;
    background-color: green;
    width: 100%;
    position: relative;
    padding: 0px !important;
    content: "";
    top : 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(-4deg);
    padding-top: 30px !important;
    /* padding-bottom: 100px !important; */
}

.l-div-margin{
    margin-bottom: 80px;
}

.belowImage-last::after{
    position: absolute;
    width: 100%;
    /* height: 100%; */
    content: "";
    background-color: yellow;
    top : 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(4deg);
    z-index: -1;
}

.belowImage-bottom{
    /* height: 30vw; */
    background-color: #d3ffeb;
    width: 100%;
    position: relative;
    padding: 0px !important;
    z-index: 10000 !important;
    transform-origin: top left;
    transform: skewY(-6deg);
}


/* .belowImage-bottom::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: inherit;
    top : 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(-6deg);
    /* z-index: -1; */
} */

/* .non-skew{
    transform: skewY(3deg) !important;
    height : 100px !important;
    margin-top: 20px;
} */

.non-skew-2{
    transform: skewY(4deg) !important;
    margin-top: 100px !important;
}

.non-skew-3{
    transform: skewY(4deg) !important;
    margin-top: 50px !important;
}
.non-skew-6{
    transform: skewY(6deg) !important;
}

.non-skew-61{
    transform: skewY(6deg) !important;
    /* position: absolute;
    bottom : 0;
    left : 0;
    width: 100%; */
    background-color: red;
}

.skew-6{
    transform: skewY(-6deg) !important;
}

.skew-61{
    transform: skewY(-6deg) !important;
    position: relative;
}
.skew-61::after {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    content: "";
    background-color: yellow;
    top : 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(6deg);
    /* z-index: -1; */
}

.bg-circle-chip-1 {
    /* background-color: #f5f5f5; */
    /* opacity: 0.08; */
    width : 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('../assets/signup-option.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bg-circle-chip-2 {
    /* background-color: #f5f5f5; */
    width : 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('../assets/settings.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bg-circle-chip-3 { 
    /* background-color: #7a839e; */
    /* opacity: 0.08; */
    width : 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('../assets/thanks.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: start;
}
.div-2-height {
    height: 300px;
}
.div-2-1-height {
    height : 100px;
}
.com-bg-image {
    height: 350px;
    width  : 350px;
    background-image: url('../assets/communication.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.com-bg-image-bit {
    height: 350px;
    width  : 95%;
    background-image: url('../assets/Group\ 21340.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.insight-div {
    min-height: 400px;
    height: 30vh;
    padding-bottom: 100px;
}

.insight-div-2 {
    /* min-height: 300px;
    height: 23vh; */
    padding-bottom: 100px;
}

.nav-item:hover{
    border-bottom: 3px solid #42495b !important;
    
}

.nav-item {
    border-bottom: 3px solid transparent;
    padding-bottom: 7px;
}

.com-bg-image-mobile {
    height: 350px;
    width  : 350px;
    background-image: url('../assets/mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.com-bg-image-world {
    height: 350px;
    width  : 350px;
    background-image: url('../assets/world-guru.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.height-div-2 {
    height: 300px;
}

.backgrouns-color-white {
    background-color: white !important;
}

.nav-item{
    margin-right: 15px;
}

.backgrouns-color-1 {
 background-color: #159bdd !important ;
}

.blue-button {
    background-color: #159bdd !important ;
    color : #FFFFFF;
}

.blue-button:hover{
    background-color: #FFFFFF !important ;
    color : #159bdd;
    border : 2px solid #f5f5f5;
}

.green-button {
    background-color: #43ce89 !important;
    color: #FFFFFF;
}

.green-button:hover {
    background-color: #FFFFFF !important;
    color: #43ce89 !important;
    border : 2px solid #f5f5f5;
}

.white-button{
    background-color: #FFFFFF !important;
    color: #43ce89 !important;
}

.white-button:hover{
    background-color: #43ce89 !important;
    color: #FFFFFF !important;
    border : 2px solid #f5f5f5;
}



.backgrouns-color-2 {
    background-color: #7a839e !important;
}
.backgrouns-color-red {
    background-color: red !important;
}

.backgrouns-color-violet-1 {
    background-color: #365372 !important;
}

.backgrouns-color-gray-1 {
    background-color: #f5f5f5 !important;
}

.backgrouns-color-pista {
    background-color: #d3ffeb !important;
}

.backgrouns-color-green {
    background-color: #43ce89 !important;
}

.backgrouns-color-green-2 {
    background-color: #06c164 !important;
}

.text-color-1 {
    color: #707070 !important;
}
.footer-link{
    color: #FFFFFF !important;
    border-right: 1px solid #FFFFFF;
}

.footer-link:hover {
    color:  #008cd1 !important;
    font-weight: 500;
}

.footer-link2 {
    color : #42495b;
}

.footer-link2:focus{
    color : #42495b;
}
.footer-link-no {
    color: #FFFFFF !important;
}

.footer-link-no:hover{
    color:  #008cd1 !important;
    font-weight: 500;
}
.text-color-2{
    color: #FFFFFF;
}

.text-color-3{
    color: #06c164;
}

.text-color-4 {
    color : #42495b;
}

.text-color-5 {
    color: #7a839e;
}

.font-size-small {

}
.font-size-big {
    font-size: 23px !important;
}

.font-size-1 {
    font-size: 80px;
}

.font-size-2 {
    font-size: 28px;
}

.line-height-1 {
    line-height: 4rem;
}



.font-weigth {
    font-weight: bold;
}

.z-index {
    z-index: 1000 !important;
}

.logo-footer {
    background-image: url('../assets/csmart_logo_whitecloud.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height : 40px;
}

.linked-in {
    height : 30px;
    width : 30px;
    background-image: url('../assets/linkedin.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
.facebook {
    height : 30px;
    width : 30px;
    background-image: url('../assets/facebook.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}

.twitter {
    height : 30px;
    width : 30px;
    background-image: url('../assets/twitter.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
.youtube {
    height : 30px;
    width : 30px;
    background-image: url('../assets/youtube.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}

.social {
    height : 30px;
    width : 30px;
    margin-right: 10px;
}
.insta {
    height : 30px;
    width : 30px;
    background-image: url('../assets/instagram.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.mobile-bg {
    background-image: url('../assets/mobile-img.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    min-height: 100%;
    height : 400px;
    width: 50%;
    top: 50px;
    position: relative;
    z-index : 1000;
}
.bg-img-mvnx-div-3 {
    background-image: url('../assets/fintech_banner.png') !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    /* background-position: center; */
    /* transform: skewY(0deg); */
    min-height: 300px;
}


.belowImage2 {
    transform: skewY(-4deg);
    height: 600px;
    background-color: green;
    position: relative;
    top: -75px;
}

.check-mark{
    background-image: url('../assets/tick.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width : 12px;
    height: 12px;
    background-position: center;
    /* display: block; */
    margin-right: 5px;
}
body {
    width : 100%;
    height : 100vh;
    position: absolute;
    top : 0px;
    left: 0px;
    margin: 0px;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    z-index: 1000;
}

.round-button {
    border-radius: 20px !important;
}

.rotate {
    transform: rotate(20deg);
}

.skew-div-one{
    position: relative;
    width: 100%;
    height : 50vh;
    background: #d3ffeb;
}

.skew-div-one::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: red;
    clip-path: polygon(100% 0,0 100%,100% 100%);
}

.row-one-bg-image{
    background-image: url('../assets/fintech_banner.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}


.cus-pad-2 {
    padding-bottom: 10px ;
}

/* @media (max-width: 992px) {
    .nav-bar-back-ground{
        background-color: #FFFFFF !important;
        z-index: 10000 !important;
    }
    .pad-sol{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .bg-img-mvnx-div-3 {
        height: 200px;
    }    
 }
 */
 .last-div-image {
    padding-bottom : 8vh;
 }
 /* @media (min-width : 800px){
    .last-div-image{
        padding-bottom : 15vh;
    }
 } */


 
 html { font-size: 1rem; }
  
  @media (max-width: 576px) {
    html {
      font-size: 0.7rem;
      /* html { font-size: 1.25rem; } */
    }
    .tex-cen-sm {
        text-align: center;
    }
    .elem-cen{
        justify-content: center !important;
    }
    h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1.3rem;
    }
    h4{
        font-size: 1.2rem;
    }
    h5{
        font-size: 1rem;
    }
    /* h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.8rem;
    } */
    .center-chip{
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .footer-left{
        display: flex;
        align-items: center !important;
    }
    .footer-right{
        display: flex;
        justify-content: center !important;
    }
    .footer-right-inside{
        display: flex;
        justify-content: center !important;
    }
    .logo-footer{
        background-position: center !important;
    }
    .main-footer-wrapper {
        display: flex !important;
        justify-content: center !important;
    }
  }
  
  @media (max-width: 768px) {
    html {
      font-size: 0.9rem;
    }
    .elem-cen{
        justify-content: center !important;
    }
    .center-chip{
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .footer-left{
        display: flex !important;
        align-items: center !important;
    }
    .footer-right{
        display: flex!important;
        justify-content: center !important;
    }
    .footer-right-inside{
        display: flex;
        justify-content: center !important;
    }
    .logo-footer{
        background-position: center !important;
    }
    .main-footer-wrapper {
        display: flex !important;
        justify-content: center !important;
    }
  }
  
  @media (min-width: 1200px) {
    
  }

  /* #google_translate_element{
      display: block;
      background-color: #FFFFFF;
      padding: 15px;
  } */

  .earth{     
      cursor: pointer;
      position: relative;
  }

#lang-wrapper1 {
    display: none;
}
#lang-wrapper2 {
    display: none;
}

#lang-wrapper1:hover {
    display: block;
}
  #lang-wrapper {
    z-index: 1000;
  }

  


/* .earth:hover + #google_translate_element {
    display: block !important;
    position: absolute !important;
    right : 10px !important;
    z-index: 10000;
}  */

  /* 
  
  #google_translate_element:hover {
    display: block;
    position: absolute;
    right : 10px;
  } */
.goog-te-gadget{
    /* background-color: #FFFFFF; */
    z-index: 100000;
    height: 25px;
    overflow: hidden;
}

#search-box{
    border : 0px;
    background-color: transparent;
    padding: 7px;

}

#search-box:focus {outline:none!important;}


.search{
    margin-right: 10px;
    padding-left : 5px;
    padding-right: 15px;
    offset: none;
}
.div-3-p {
    padding-bottom: 100px !important;
}
.search:hover {
    border : 1px solid gray;
}

#search-box:focus + .search {
    border : 1px solid #FFFFFF;
}

.goog-te-gadget-simple{
    border : 0px;
    border-radius: 15px;
}

nav{
    padding-bottom: 0px !important;
}


#diamond-shield {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom: 20px solid red;
    position: relative;
    top: -50px;
  }
  #diamond-shield:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 20px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 70px solid red;
  }

  .bgtest{
    width: 100%;
    float: left;
    background-image: url("bg.png");
    background-size: cover;
    min-height: 494px;
    background-repeat: no-repeat;
    background-position: left;
    height: auto;
    position: relative
}
.overlay{
    position: absolute;
    top:25%
}
.opensans{
    font-family: 'Open Sans', sans-serif;
}
h2{
   color:#fff;
   line-height: 34px
}

.bg-img-last {
    background-image: url('../assets/footer-img.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.skew-main{
    width: 100%;
    position: relative;
    background-color: orange;
}
.skew{
    background-color: red;
    position: absolute;
    /* bottom: 35; */
    width: 100%;
    transform-origin: top right;
    transform: skewY(-6deg);
}

.skew-rev{
    background-color: blue;
    position: absolute;
    /* bottom: 35; */
    width: 100%;
    transform-origin: top left;
    transform: skewY(-6deg);
    height: 100%;
    /* z-index: -1; */
}

.non-skew {
    background-color: orange;
    /* height: 100px; */
    transform: skewY(6deg);
    position: relative;
    /* top : 10px; */
    /* position: absolute; */
    /* width: 100%; */
}

.no-skew {
    background-color: orange;
    position: relative;
}

.main-skew{
    /* background-color: red; */
    position: relative;
    /* height: 100px; */
    /* padding-top: 10% ;
    padding-bottom: 10%; */
}

.sub-skew {
    background-color: green;
    /* height: 10px; */
    width: 100%;
    position: absolute;
    transform-origin: top right;
    transform: skewY(-6deg);
    
}

.sub-two{
    background-color: white;
    /* height: 10px; */
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 100%);
    position: absolute;
    /* transform-origin: top left; */
    /* transform: skewY(6deg);    */
}
.bgtest{
    width: 100%;
    float: left;
    background-image: url("../assets/fintech_banner.png");
    background-size: cover;
    min-height: 494px;
    background-repeat: no-repeat;
    background-position: left;
    height: auto;
    position: relative
}
.overlay{
    position: absolute;
    top:25%
}
.opensans{
    font-family: 'Open Sans', sans-serif;
}
h2{
   color:#fff;
   line-height: 34px
}

.major-banner{
    position: relative;
}


.banner-wrapper {
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}
.m-banner-data{
    position: absolute;
}